.wrapper {
    width: 400px;
    height: 100%;
    background-color: #fff;
    margin: 0 auto;
}

.details {
  overflow-y: scroll;
  padding-bottom: 100px;
}

.details img {
  width: 100%;
}

.fabs {
  position: fixed;
  bottom: 50px;
  right: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: baseline;
}

.tno {
    background-color: #fff;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    display: inline-block;
    border: 10px solid #f0f0f0;
}
.tno i {
    color: #ff695b;
    font-size: 80px;
    padding: 0 10px;
}
.ti {
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    display: inline-block;
    border: 10px solid #f0f0f0;
}
.ti .fa-rocket {
    font-size: 23px;
    padding: 15px;
    color: #398beb;
}
.tyes {
    background-color: #fff;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    display: inline-block;
    border: 10px solid #f0f0f0;
}
.tyes i {
    color: #5de19c;
    font-size: 60px;
    padding: 12px;
}

.attr {
  list-style: none;
}

.attr li {
  display: inline-block;
  padding: 2px 10px;
  background-color: #e6e6fd;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 4px;
}
